@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

/*Designing title*/
header {
    color: slateblue;
    background-color: rgba(127,255,212,1);
    width: auto;
    height: auto;
    border: 6px solid rgb(100, 0, 100);
    border-radius: 12px;
    padding-top: 0.5cm;
    padding-bottom: 0.25cm;
    margin-top: 0.5in;
    margin-bottom: 0.2in;
    text-align: center;
    font-family: "Yusei Magic", sans-serif;
    font-size: 30px;
}

header h2{
    font-size: 1.2em;
}

/*
Center nav section
*/
template ~ nav{
    position: relative;
    top: -10px;
    text-align: center;
    margin: auto;
    padding: auto;
}

strong{
    text-decoration: underline;
}

em{
    text-decoration: overline;
}

/* design aside section */
aside{
    float: right;
    color: hsl(0,100%,50%);
    max-width: 30%;
    margin: 0.1, 0.1, 0.1, 0.1;
    padding: 0.1, 0.1, 0.1, 0.1;
    border: 3px hsla(50,100%,60%) solid;
    background-color: gray;
}

div > p{
    background-color: #0f0;
    border: .1ch dashed #0d447c;
    font-size: 3vw;
}

ol{
    display: none;
}

h3.list:hover + ol{
    display: block;
}

summary:active{
    background-color: #0d447c;
}

#gigis{
    font-size: 3vw;
}

.flex-container {
    display: flex;
    background-color: rgb(136, 233, 233);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.flex-container > img {
    background-color: #a21dc4;
    width: 200px;
    margin: 10px;
    padding: 20px;
}

.form{
    display:none;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: #f321f3;
    padding: 10px;
}
  
.grid-container > div {
    background-color: rgba(226, 148, 148, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.item1{
    grid-row:1 / 4;
}

.item2{
    grid-column: 2 / 4;
}